

.label {
    width: 30px; /* Ajusta esto según el tamaño deseado */
    height: 30px; /* Igual que el width para que sea un cuadrado */
    display: block;
    margin: 0;
}

.btn {
    padding: 10px;
    border-radius: 10px;
    border: solid rgba(99, 99, 211, 0.712) 1px;
    font-size: x-large;
    background-color: rgb(66, 148, 219);
    color: whitesmoke;
    margin: 0 5px;
}

.center-in-x{
    display: flex;
    background-color: rgba(29, 182, 182, 0.829);
    min-width: 500px;
    min-height: 500px;
    flex-direction: column;
}
.btn-init{
    margin:  auto;
}